### PyCharm ###
.idea/
.idea_modules/

### Python ###
__pycache__/

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### RecognitionForNationalPalaceMuseum ###
JIEBA/config.json
spider/config.json
W2V/config.json

### Default Data Set ###
dst/**/*.csv
dst/**/*.txt
